.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ab5353;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#mySidenav {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sided-search {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

#mySidenav>h1 {
    font-size: 30px;
    margin-left: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.sided-search>input {
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

.sided-search>span {
    cursor: pointer;

    font-size: 40px;
}

#main-0 {
    font-family: 'Josefin Sans', sans-serif;
    gap: 80px;

    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid blue; */
    width: 85%;
}

@media screen and (min-width : 300px) and (max-width : 900px) {
    #main-0 {
        font-family: 'Josefin Sans', sans-serif;
        gap: 80px;

        margin: auto;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* border: 1px solid blue; */
        width: 65%;
    }

    .right {
        width: 70%;
    }

    .main {
        display: none;
    }

    /* .new-22>span:nth-child(2){
        display: none;
    } */
    .new-22>span:nth-child(3) {
        display: none;
    }

    .new-22>span:nth-child(4) {
        display: none;
    }

    .sidenav {
        opacity: 0.5;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .nav-1 li:nth-child(2) {
        display: none;
    }

    .nav-1 li:nth-child(3) {
        display: none
    }

    .nav-1 li:nth-child(4) {
        display: none
    }

    #footerp1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #midfooter {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}



.right>div {

    display: block;



}

.right>div>input {

    margin-top: 30px;
    font-size: 14px;
    width: 70%;
    padding: 13px;
    border-radius: 10px;
    margin-right: 20px;
}

.right>div>button {
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 40px 12px 40px;
    border-radius: 25px;
}

.summary {
    margin-top: 60px;
}

.summary>hr {
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.summary div {
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
}

.button-proceed {
    align-items: center;
    justify-content: center;


    /* font-size: 16px; */
}

.button-proceed>button {
    padding: 15px;
    width: 100%;
    margin: 20px 0px;
    border-radius: 50px;
    background-color: #e74980;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.button-proceed>button>a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


#paypal {

    justify-content: space-evenly;
    padding: 0px 120px;
}

#paypal img {
    width: 40%;
    cursor: pointer;
}

.left>h1 {
    font-size: 32px;
}

.left hr {
    color: grey;
    margin: 20px 0px;
}

.shop-1 {
    background-color: #FFAB91;
    width: 100%;
    height: 400px;
    margin: auto;
    text-align: center;
    align-items: center;

}

.shop-1>div {
    background-color: #FFAB91;
    width: 100%;
    height: 200px;

    align-items: center;
    justify-content: space-evenly;

    display: flex;
}

.shop-1>h3 {
    padding-top: 200px;
}

.shop-1 button {
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    background-color: #F0F4C3;
    padding: 15px 45px;
    border-radius: 50px;
    padding-bottom: 15px;

}

.shop-1 a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.imgbox {
    margin-right: 30px;
    width: 50%;
}

.main222 {
    font-size: 15px;
    margin: 30px;

    display: flex;
    width: 80%;



}

.main222 img {

    width: 100%;
}

.main222 h3,
p,
.main222 button,
span {
    margin: 10px;
}

#coupon-btn {
    margin-top: 15px;
}

.main222 button {
    margin-top: 26px;
    padding: 3px 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #ec86aa1c;
}